/*Нормалайз*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'PT Sans Caption', sans-serif;
	color: #fff;
}
a{
	text-decoration: none;
}

/*Задний фон и контейнер*/
body{
	background: url(../images/back.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;	
}
/*Контейнер*/
.container{
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
}
/*Основной заголовок*/
.main-heading{
	text-align: center;
	font-size: 64px;
	font-weight: 700;	
	margin-bottom: 30px;
}
/*Основной блок*/
.main{
	background: rgba(78, 106, 255, 0.6);
	border-radius: 16px;
	padding: 16px;
}
h2{
	font-weight: 400;
	font-size: 32px;
	margin-bottom: 16px;

}

/*Гендеры*/
.form-genders{
	margin-bottom: 30px;
}

.genders{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}

.gender{
	width: 50%;
}

.genders label{
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 15px 0;
	border:1px solid #686FFF;
	border-radius: 6px;
	transition: .5s;


}
.genders input:checked + label{
	background: #686FFF;
}
input[type=radio]{
	position: absolute;
	width: 0px;
	
}
/*Параметры*/
.form-parametres{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;

	margin-bottom: 30px;
		
}

.form-parametres input{
	background: rgba(143, 148, 255, 0.6);
	border: none;
	border-radius: 6px;
	text-align: center;
	outline: none;
	font-size: 32px;
	padding: 5px 0;
	width: 100%;
	
}

.parametr{
	width: 163px;
}
.parametr-heading span{
	font-size: 16px;
}

.form-parametres input::placeholder{
	color: #fff;
}
/*Активность*/
.activity-wrapper{
	margin-bottom: 15px;
}

.activity-label{
	font-size: 20px;

}
.activity-label:before{
	content: "";
	width: 10px;
	height: 10px;
	background: #fff;
	display: inline-block;
	border-radius: 100%;
	margin-right: 15px;
	border: 1px solid #fff;

	transition: .5s;
}

.activity-descr{
	color: #A3A7FF;
	font-size: 16px;
}

.activities input:checked + label:before{
	background: #686FFF;
}
/*Кнопки*/
.form-buttons{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;

	margin-top: 25px;
}

.form-submit-button{
	background: #686FFF;
	border: none;
	border-radius: 6px;
	padding: 10px 25px;

	font-size: 24px;

	transition: .5s;
}
.form-submit-button:hover{
	background: #8F94FF;
}

.form-reset-button{
	font-size: 24px;
	background: transparent;
	border: none;
	margin-left: 25px;

	transition: .5s;
}
.form-reset-button:hover{
	color: #8F94FF;
}
/*РЕЗУЛЬТАТЫ*/

.results-counter{
	background: rgba(78, 106, 255, 0.6);
	border-radius: 16px;
	margin-top: 30px;
	padding: 16px;
}

.results{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.results-counter-hidden{
	opacity: 0;
	visibility: hidden;
}
/*

font-family: 'PT Sans Caption', sans-serif;

*/
.modal{
	position: fixed;
	background: rgba(78, 106, 255, 0.6);
	border: 1px solid #fff;
	padding: 10px;
	opacity: 1;
	
	width: 400px;
	height: 200px;

	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	
}


.modal-back{

	background: rgba(0, 0, 0, .6);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

}